*{
    margin: 0; /*바깥 여백 0*/
    padding: 0; /*안쪽여백 0*/
    box-sizing: border-box; /*테두리 두께 무시*/
    /*border: 1px solid black;*/
    /* font-family: 'Merriweather' !important; */
}
.button{
    position: sticky;
    bottom: 0;
    z-index: 99999999999;
}
.home{
    width: 50px ;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;

    font-weight: 600;
    background-color: #F4F3EA;
    color: olivedrab;

    box-shadow: 0px 4px 20px #a0a0a0;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none; /*밑줄 제거 */
    display: block; /*a태그를 블록요소로 변경*/
    color: black; /*글자색 검은색*/
}
li{
    list-style-type: none; /*li태그의 기호 제거*/
}
.container{
    width: 100%;
    height: 1200px;

    background: linear-gradient(rgba(0,0,0,0.8) , rgba(0,0,0,0.8))  ,url(images/bg.jpg) no-repeat;
    background-size: cover;

    color: white;

}
.header{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 200px;
    height: 80px;

    font-size: 60px;
    font-weight: bold;
    text-align: center;

    transition: 0.3s;
}
.logo:hover{
    color: rgb(177, 177, 113);
}
.menu{
    width: 400px;
    height: 100px;

    display: flex;
    align-items: center;
}
.menu li{
    width: 25%;
    text-align: center;
}
.menu li a{
    color: white;
    transition: 0.3s;
}
.menu li a:hover{
    color: rgb(177, 177, 113);
}
.main{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    margin-top: 150px;
    text-align: center;
}
.main h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.main h2{
    font-size:40px ;
    margin-bottom: 30px;
}
.main p{
    font-size: 30px;
    margin-bottom: 50px;
}
.main button{
    font-size: 30px;
    width: 300px;
    height: 100px;
    margin-top: 30px;

    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;

    color: white;

    transition: 0.3s;
}
.main button:hover{
    background-color: white;
    color: black;
}

.about{
    width: 1200px;
    height: 800px;

    margin: 0 auto;
    margin-top: 200px;
}

.about h2{
    font-size: 30px;
    color:olivedrab;
}

.about h1{
    font-size: 50px;
}

.about .contents{
    width: 100%;
    height: 500px;

    display: flex;
}

.about .left{
    width: 400px;
    height: 500px;
}

.about .left img{
    width: 400px;
    height: 500px;
}

.about .right{
    width: 800px;
    height: 500px;
    padding-left: 10px;
}
.about .right ul{
    width: 600px;
}
.about .right .icons{
    display: flex;

}

.about .right h3{
    color: olivedrab;
    font-size: 30px;
}

.about .right li{
    font-size: 22px;
    margin-top: 10px;
}
.fa-brands{
    font-size: 50px;
    margin-right: 6px;
}

.fa-youtube{
    color: red;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #eee;
    padding-left: 2px;
    padding-right: 2px;
    background: linear-gradient(200deg, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
    border-radius: 10px
}

.skills{
    width: 100%;
    height: 700px;
    background-color: #eee;
}
.skills-inner{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;
}
.skills h2{
    color: olivedrab;
    font-size: 30px;
}
.skills h1{
    font-size: 50px;
}
.skills .contents{
    width: 100%;
    height: 300px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
}
.skills .contents li{
    width: 350px;
    height: 350px;
    background-color: white;

    padding: 10px;

    transition: 0.3s;
    border-radius: 20px;

    box-shadow: 3px 3px 3px #ccc;
}
.skills h3{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
}
.skills p{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.skills i{
    color: olivedrab;
}
.fa-keyboard{
    font-size: 50px;
}
.skills .contents li:hover{
    background-color: olivedrab;
    color: white;
    transform: scale(1.05);
}
.skills .contents li:hover i{
    color: white;
}
.bg{
    width: 100%;
    height: 800px;
    background: url(images/bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.projects{
    height: 1200px;
}
.projects li{
    box-shadow: 3px 3px 3px #ccc;
}

.contents li img{
    width: 330px;
    height: 170px;

    align-items: center;
}

.contents li .title{
    font-weight: 800;
}
.contents li p .fa-solid{
    font-size: 200px;

    margin-top: 25px;
    margin-bottom: 20px;
}
.contents li .fa-spinner{
    font-size: 70px !important;
    
}
.contact{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
    }
.contact h2{
    font-size: 30xp;
    color: olivedrab;
}
.contact h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.contact .contents{
    width: 1200px;
    height: 600px;

    display: flex;
}
.contact .left{
    width: 400px;
    height: 600px;
}
.contact .right{
    width: 800px;
    height: 600px;
    border-left: 2px solid #eee ;
    padding-left: 50px;
}
.info li{
    width: 350px;
    height: 80px;

    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
}
.info i{
    padding-right: 10px;
    font-style: normal;
}
.contact .right p{
    font-size: 25px;
}
.contact .right input{
    width: 750px;
    height: 30px;
    margin-bottom: 30px;

    border: 1px solid #ccc;
}
.contact .right textarea{
    width: 750px;
    height: 300px;

    border: 1px solid #ccc;
}
.contact .right button{
    width: 750px;
    height: 30px;
    background-color: olivedrab;
    color: white;
    font-weight: bold;
    border: 1px solid black;

    cursor: pointer;
    transition: all 0.1s ease;
}
.contact .right button:active {
    transform: translateY(1px);
    box-shadow: 0px 4px 20px #a0a0a0;
}

